.home-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  width: 275px;
  height: 275px;
  border: 5px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Add margin-top to create space between the circle and the form */
}

.form {
  display: flex;
  flex-direction: row; /* Change to row to place input and button side by side */
  align-items: center;
  margin-bottom: 20px; /* Add margin-bottom to create space between the form and the circle */
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px; /* Add margin-right to create space between the input and the button */
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submitted-label {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.green0 { fill: #6B8E23; } /* Olive Drab */
.green1 { fill: #556B2F; } /* Dark Olive Green */
.green2 { fill: #8FBC8F; } /* Dark Sea Green */
.green3 { fill: #3CB371; } /* Medium Sea Green */
.green4 { fill: #2E8B57; } /* Sea Green */
.green5 { fill: #66CDAA; } /* Medium Aquamarine */

@keyframes spinAnimation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin {
  animation: spinAnimation 2s linear;
}